@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"),
    url("../fonts/montserrat_regular.woff2") format("woff2"),
    url("../fonts/montserrat_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"),
    url("../fonts/montserrat_medium.woff2") format("woff2"),
    url("../fonts/montserrat_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: local("Montserrat SemiBold"),
    url("../fonts/montserrat_semibold.woff2") format("woff2"),
    url("../fonts/montserrat_semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"),
    url("../fonts/montserrat_bold.woff2") format("woff2"),
    url("../fonts/montserrat_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.visually-hidden:not(:active):not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

body {
  position: relative;
  min-width: 375px;
  margin: 0 auto;
  padding: 0;
  color: #30353e;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #ffffff;
}
